.hn-email-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column !important;
  gap: 16px !important;
  width: 425px;
  height: 60px;
  border-radius: 20px;
  font-family: var(--work-sans);
  line-height: 22.4px;
  font-size: 16px;
  background-color: var(--primary-text-color);
  margin-bottom: 16px;
}
.hn-input {
  width: 425px;
  height: 60px;
  padding: 16px 0px 16px 20px;
  border: none;
  border-radius: 20px;
  gap: 12px;
  margin: 0;
}
.hn-input-flex {
  margin: 0;
  padding: 19px 25px 19px 20px;
}
.hn-input:focus {
  margin: 0;
  outline: none;
}
.hn-input::placeholder {
  color: var(--bg-color);
  font-weight: 400;
  margin: 0;
}
.hn-block-button-smallscreen {
  display: none !important;
  margin: 0;
}
@media (min-width:834px) and (max-width:1279px)  {
  .hn-email-input-block {
    background-color: transparent;
    display: block;
    margin: 0;
  }
  .hn-input-block {
    margin-bottom: 16px;
    padding: 12px 20px;
    width: 300px;
    margin: 0 !important;
  }
  .hn-email-input-block button {
    padding: 12px 94.9px;
    margin: 0;
  }
}

@media (max-width:833px) {
  .hn-email-input {
    display: block;
    background-color: transparent;
    width: auto;
  }
  .hn-input {
    margin-bottom: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 0 !important;
  }
  .hn-email-input button {
    padding: 12px 102px;
    width: 100%;
  }
  .hn-block-button-smallscreen {
    display: block !important;
  }
  .hn-none-button-smallscreen {
    display: none !important;
  }
}
/* Media */
@media (max-width:834px) {
  .hn-input {
    width: 300px;
    height: 46px;
  padding: 16px 20px;
  }
}
@media (max-width:px) {
  .hn-input {
    width: 300px;
    height: 46px;
  padding: 16px 20px;
  }
}